.hero-section{
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.hero-sides{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.hero-title>span, .sub-title{
    width: min-content;
}
.blue-img{
    background: linear-gradient(135.74deg, #0bb5ff 14.09%, #6dd3fe 83.81%);
}
.signup{
    box-shadow:var(--shadow1);
}

@media screen and (max-width:856px){
    .hero-title>span, .sub-title>p,.traffic>p,.customers>p{
        font-size: 0.9rem;
        text-align: justify;
    }
    .sub-title>span,.traffic>span,.customers>span{
      font-size: 1.5rem;
      text-align: left;
    }
    .middle-side>.blue-img{
        position: absolute;
        bottom: 0;
        width: 22rem;
        height: 22rem;
        border-radius: 100%;
    }
    .middle-side>img{
        position:absolute;
        bottom: 0;
        width: 20rem;
        height: 20rem;
    }
    .hero-section{
        grid-template-areas:
        "left center center"
        "right right right" ;
    }
    .hero-section>:first-child{
        grid-area: left;

    }
    .hero-section>:nth-child(2){
        grid-area: center;
    }
    .hero-section>:nth-child(3){
        grid-area: right;
        display: grid;
        grid-template-columns: auto auto;
        
        justify-content: space-around;
        margin: 2rem 0;
      
    
    }
   
.cart{
    position: absolute;
bottom:10%
}
   
  
}

