.slider-container .myswiper{
    position: unset;
}
.slider-container .swiper-button-next{
    right:6rem;
    color: var(--black);

}
.slider-container .swiper-button-prev{
left: 6rem;
color: var(--black);
}
.btn {
    width: max-content;
    padding: 5px 10px;
}

 @media screen  and (max-width:856px){
    .myswiper{
 width: 90%;
 height: 10rem;
    } 


    .slider-container .swiper-button-prev,
    .slider-container .swiper-button-next{
        display: none;
    }  
}
